<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ViewFeedbackController</servlet-name>
        <servlet-class>controller.marketing.MKTViewFeedbackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackStatusController</servlet-name>
        <servlet-class>controller.marketing.FeedbackStatusController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>controller.common.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackController</servlet-name>
        <servlet-class>controller.landlord.FeedbackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LandlordReplyFeedbackController</servlet-name>
        <servlet-class>controller.landlord.LandlordReplyFeedbackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.common.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.common.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterSucceedController</servlet-name>
        <servlet-class>controller.common.RegisterSucceedController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestMailController</servlet-name>
        <servlet-class>controller.landlord.RequestMailController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewFeedbackController</servlet-name>
        <url-pattern>/view-feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackStatusController</servlet-name>
        <url-pattern>/set-feedback-status</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackController</servlet-name>
        <url-pattern>/landlord-feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RequestListController</servlet-name>
        <servlet-class>controller.landlord.RequestListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConstractListController</servlet-name>
        <servlet-class>controller.landlord.ConstractListController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RequestListController</servlet-name>
        <url-pattern>/request-list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConstractListController</servlet-name>
        <url-pattern>/constract-list</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ajaxServlet</servlet-name>
        <servlet-class>com.vnpay.common.ajaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vnpayQuery</servlet-name>
        <servlet-class>com.vnpay.common.vnpayQuery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vnpayRefund</servlet-name>
        <servlet-class>com.vnpay.common.vnpayRefund</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ajaxServlet</servlet-name>
        <url-pattern>/vnpayajax/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vnpayQuery</servlet-name>
        <url-pattern>/vnpayquery/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vnpayRefund</servlet-name>
        <url-pattern>/vnpayrefund/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ListAds</servlet-name>
        <servlet-class>controller.marketing.ListAds</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditAds</servlet-name>
        <servlet-class>controller.marketing.EditAds</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAds</servlet-name>
        <servlet-class>controller.marketing.CreateAds</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListSlide</servlet-name>
        <servlet-class>controller.marketing.ListSlide</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditSlide</servlet-name>
        <servlet-class>controller.marketing.EditSlide</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateSlide</servlet-name>
        <servlet-class>controller.marketing.CreateSlide</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>filterAds</servlet-name>
        <servlet-class>controller.marketing.filterAds</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListAdsLandLord</servlet-name>
        <servlet-class>controller.landlord.ListAdsLandLord</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAdsLandLord</servlet-name>
        <servlet-class>controller.landlord.CreateAdsLandLord</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListAds</servlet-name>
        <url-pattern>/ListAds</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditAds</servlet-name>
        <url-pattern>/EditAds</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAds</servlet-name>
        <url-pattern>/CreateAds</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListSlide</servlet-name>
        <url-pattern>/ListSlide</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditSlide</servlet-name>
        <url-pattern>/EditSlide</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateSlide</servlet-name>
        <url-pattern>/CreateSlide</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>filterAds</servlet-name>
        <url-pattern>/filterAds</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListAdsLandLord</servlet-name>
        <url-pattern>/ListAdsLandLord</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAdsLandLord</servlet-name>
        <url-pattern>/CreateAdsLandLord</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controller.common.RegisterController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ContractTenantController</servlet-name>
        <servlet-class>controller.landlord.ContractTenantController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContractTenantController</servlet-name>
        <url-pattern>/contract-tenant</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RequestTenantController</servlet-name>
        <servlet-class>controller.landlord.RequestTenantController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RequestTenantController</servlet-name>
        <url-pattern>/request-tenant</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SendMailController</servlet-name>
        <servlet-class>controller.common.SendMailController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SendMailController</servlet-name>
        <url-pattern>/sendMail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterSucceedController</servlet-name>
        <url-pattern>/register-succeed</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestMailController</servlet-name>
        <url-pattern>/request-mail</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
